{
  "provider_order": ["bai", "giteeai", "openrouter", "runinfra", "orcarouter"],
  "headers": [
    {
      "models": ["deepseek-*"],
      "providers": ["openai"],
      "headers": {
        "X-package-id": "8848"
      }
    }
  ]
}
